@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 240, 240, 240;
    --background-end-rgb: 240, 240, 240;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width:394px) {
  .navbar{
      font-size: 10px;
      font-weight: 700;
      padding: 3vw;
  }
  .intro{
    font-size: 10vw;
    margin-bottom: 20vw;
  }
  
  .project h5{
     font-size: 4vw;
     margin-top: 4vw;
  }
  .projectintro h1{
    font-size: 8vw; 
  }
  .projectintro{
    width: 100vw;
  }
  .projectintro p{
     font-size: 4.5vw;
     padding-top: 6vw;
     padding-bottom: 6vw;
  }
  .projectimg img{
    width: 90vw;
    height: 80vw;
  }
  .projectimg img:hover{
    border-radius: 30px;
  }
  .btn{
    font-size: 15px;
    padding: 3vw;
    width: 30vw;
  }
  .btndiv{
    padding-bottom: 10vw;
  }
  .vl{
    display: none;
  }
  .aboutme h5{
    font-size: 4vw;
  }
  .aboutmemain{
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 18vw;
  }
  .aboutmeleft img{
    width: 92vw;
    height: 100vw;
    margin-top: 8vw;
    margin-bottom: 8vw;
  }
  .aboutmeright{
    margin: 0;
    font-size: 4.3vw;
    font-weight: 600;
    gap: 4vw;
  }
  .contactme h5{
    font-size: 4vw;
  }
  .email{
    font-size: 6.6vw;
    margin-top: 12vw;
    margin-bottom: 12vw;
  }
  /* .hover-line{
    display:none;
  } */
}
.hover-line {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.hover-line::after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  bottom: 60px;
  left: 0;
  background-color: #999966;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.hover-line:hover::after {
  visibility: visible;
  width: 100%;
}